* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
.login-btn{
    background-color:white;
    color:black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-btn:hover{
    background-color:#198754;
    color: white;
}
.discover:hover{
    background-color: #198754;
    color: white;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline:none;
}
.nav-link{
    color:black;

}
.nav-link:hover, .nav-link.active:hover{
    color:#198754;
}

.navbar-brand:hover{
    font-weight:500;
    color:#198754;
    transition: 0.3s color;
}

.video-1{
    height: 35rem;
    scale: 1.78;
}
.text{
    top: 50%;
    left: 40%;
}

.img-hover{
    transition: all .5s ease-out 0s;
}
.img-hover:hover{
    transform: translateY(-20px);
    transition: all 0.5s linear;
   
}
.img-hover2:hover{
    transform: translateY(-20px);
    transition: all 1s linear;
}
.img-hover2{
    transition: all 1s ease-out 0s;
}
.dropdown-menu a:hover{
    color: white;
    background-color: #198754;
}
.banner{
    background-image: url(../Images/banners/banner1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5rem 0;
    text-align: center;
    
}
.banner-2{
    background: url(../Images/banners/blue.jpg.webp);
    background-position: center;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 800px;
}

.mt-50{
margin-top: 150px;
}

.mx-50{
    margin-left: 300px;
}
/* -------Gemstone start-------- */
.Jwel:hover li{
    color: red !important;
}
.mny{
    height: 180px;
}
.gemstone img{
    transition: all 0.5s linear;
  }
  .gemstone a:hover img{
    transform: translateY(-20px);
    transition: all 0.5s linear;
  }
/* -------Gemstone end-------- */
#newsltr:hover #newsltr{
    background-color: red;
}




